<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://todtests.ru</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>31.31.196.199</MSDeployServiceURL>
    <DeployIisAppPath>todtests.ru</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>u0748104</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TestDb" Order="1" Enabled="False">
          <Destination Path="Data Source=wpl24.hosting.reg.ru;Initial Catalog=u0748104_Test;Persist Security Info=True;User ID=u0748104_User;Password=1Hl8ji9^" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TestsApp.Models.TestContext, TestsApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TestDb-Web.config Connection String">
      <ParameterValue>Data Source=wpl24.hosting.reg.ru;Initial Catalog=u0748104_Test;Persist Security Info=True;User ID=u0748104_User;Password=1Hl8ji9^</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>